<section id="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="home-faqs">
      <div class="container--primary container--faqs"> 
            <div class="container--medium">
                <div class="faqs__header">
                    <div class="container--small">
                        <h2 class="natusan-h2">{{ section.settings.title}}</h2>
                     </div>
                </div>
                <div class="grid grid--xl grid--rev grid--middle">
                    <div class="5/12--lap-and-up grid__cell">
                         <div class="{% if section.settings.image-mobile %} desktop-only {% endif %}">
                           {% include 'image' with img : section.settings.image, class: 'full-width' %}
                         </div>
                         {% if section.settings.image-mobile != blank %}
                           <div class="image-mobile__box">
                               {% include 'image' with img : section.settings.image-mobile , class: 'full-width mobile-only' %}
                          </div>
                         {% endif %}
                    </div>
                    <div class="7/12--lap-and-up grid__cell">
                          <div class="accordion_container">
                                {% for block in section.blocks %}
                                    <div class="accordion-main">
                                          <div class="accordion_head medium"><h4>{{ block.settings.question }}</h4><span class="arrow-down"></span></div>
                                          <div class="accordion_body medium" id="a1" style="display: none;">
                                              <p>{{ block.settings.answer }}</p>
                                          </div>
                                    </div>
                                {% endfor %}
                           </div>
                           {% if section.settings.url != blank and section.settings.link != blank %}
                                <div class="faqs__button">
                                     <a class="button__primary" href="{{ section.settings.url }}">{{ section.settings.link }}</a>
                                </div>
                           {% endif %}
                    </div>
                </div>
            </div>
      </div>
</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
        $(document).ready(function() {
              //toggle the component with class accordion_body
              $(".accordion_head").click(function() {
                    $(this).removeClass('coll-back');
                    if ($('.accordion_body').is(':visible')) {
                      $(".accordion_body").slideUp(600);

                    }

                    if($(this).next(".accordion_body").is(':visible')) {
                      $(this).next(".accordion_body").slideUp(300);
                      $(this).removeClass('active');


                    }else {
                      $(this).next(".accordion_body").slideDown(600);
                      $(this).addClass('active');

                }
              });
        });
</script>

{% schema %}
{
  "name": "Home Faqs",
  "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "title"
          },
         {
           "type": "image_picker",
           "id": "image",
           "label": "image"
         },
         {
           "type": "image_picker",
           "id": "image-mobile",
           "label": "image-mobile"
         },
         {
           "type": "text",
           "id": "link",
           "label": "link"
         },
         {
           "type": "url",
           "id": "url",
           "label": "url"
         }

  ],
  "blocks": [
    {
      "type": "FAQ",
      "name": "Add question",
      "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "question",
            "default": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "answer",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
          }
      ]
    }
  ],

  "presets": [
  		{
  			"name": "Home Faqs",
  			"category": "Homepage"
  		}
  	]
}
{% endschema %}
