<style>
 {% if section.settings.background %}
    #section--{{ section.id }} .container--background{
       background-image: url("{{ section.settings.background | img_url: 'master' }}");
    }
 {% endif %}
 {% if section.settings.background-mobile %}
  @media screen and (max-width: 800px) {
      #section--{{ section.id }} .container--background{
        background-image: url("{{ section.settings.background-mobile | img_url: 'master' }}");
        }
  }
 {% endif %}
</style>
<section id="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="two-products">
  <div class="{% if section.settings.hide-desktop %} lap-and-up--hide {% endif %}{% if section.settings.hide-mobile %} pocket--hide {% endif %}">
      <div class="container--background">
         <div class="container--mobile">
           <div class="grid">
              <div class="1/2--lap-and-up grid__cell">
                 {% assign product_item_1 = all_products[section.settings.product-1] %}
                  <a href="/products/{{ section.settings.product-1 }}">
                     <div class="product__image-box two-products__left relative">
                       {% include 'image' with img : section.settings.image-left , class: 'full-width' %}
                       <div class="custom__button-primary custom__button-mobile">
                           <a href="/products/{{ section.settings.product-1 }}"><span>{{ product_item_1.title }}</span>-<span>{{ product_item_1.price | money_without_trailing_zeros  }}</span></a>
                       </div>
                     </div>
                  </a>
              </div>
              <div class="1/2--lap-and-up grid__cell">
                {% assign product_item_2 = all_products[section.settings.product-2] %}
                 <a href="/products/{{ section.settings.product-2 }}">
                    <div class="product__image-box two-products__right relative">
                      {% include 'image' with img : section.settings.image-right , class: 'full-width' %}
                      <div class="custom__button-primary custom__button-mobile">
                          <a href="/products/{{ section.settings.product-2 }}"><span>{{ product_item_1.title }}</span>-<span>{{ product_item_1.price | money_without_trailing_zeros  }}</span></a>
                      </div>
                    </div>
                 </a>
              </div>
           </div>
        </div>
      </div>
    </div>
</section>

{% schema %}
{
  "name": "Two products",
  "settings": [
    {
      "type": "checkbox",
      "id": "hide-desktop",
      "label": "hide desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide-mobile",
      "label": "hide mobile",
      "default": false
    },
    {
      "type": "product",
      "id": "product-1",
      "label": "product left"
    },
    {
      "type": "image_picker",
      "id": "image-left",
      "label": "image-left"
    },
    {
      "type": "product",
      "id": "product-2",
      "label": "product right"
    },
    {
      "type": "image_picker",
      "id": "image-right",
      "label": "image-right"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "background desktop"
    },
    {
      "type": "image_picker",
      "id": "background-mobile",
      "label": "background mobile"
    }
  ]
}
{% endschema %}
