{%- capture options_video -%}
  {% unless section.settings.video_autoplay == false %}
  autoplay
  {% endunless %}
  {% unless section.settings.video_mute == false %}
  muted
  {% endunless %}
  {% unless section.settings.video_loop == false %}
  loop
  {% endunless %}
  {% unless section.settings.video_controls == false %}
  controls
  {% endunless %}
{%- endcapture -%}

<section id="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="video">
     <div class="container--full">
        <div class="container--flex">
            <div class="video--side">
               <div class="video--box">
                    <div class="video__content relative">
                      <video id="video" {{ options_video }} {% if section.settings.poster %} poster="{{ section.settings.poster | img_url: 'master' }}" {% endif %} onclick="this.play();" >
                        <source src="{{ section.settings.mp4_url }}" type="video/mp4">
                        <source src="{{ section.settings.mp4_url }}" type="video/ogg">
                        Your browser does not support HTML5 video.
                      </video>
                      <div class="play__button" id="play_button">
                         <img id="play_image" class="play__image" src="https://cdn.shopify.com/s/files/1/0246/3701/4082/files/iconfinder_play-circle-outline_-2.png?1437" alt="play">
                      </div>
                    </div>
               </div>
            </div>
            <div class="image--side">
              <div class="product__image-box relative">
                {% assign product_item = all_products[section.settings.product] %}
                <div class="font-size-cero">
                {% include 'image' with img : section.settings.image , class: 'full-width ' %}
                </div>
                <div class="custom__button-primary custom__button-mobile">
                  <a href="/products/{{ section.settings.product }}"><span>{{ product_item.title }}</span>-<span>{{ product_item.price | money_without_trailing_zeros  }}</span></a>
                </div>
              </div>
            </div>
        </div>
     </div>
 </section>
 <script>
     var video = document.getElementById('video');
         video.addEventListener('click',function(){
         video.play();
     },false);
 </script>
 <script>
        var playButton = document.getElementById("play_button");
        var playImage = document.getElementById("play_image");

        playButton.addEventListener("click", function() {
        if (video.paused == true) {
            video.play();
            playImage.style.display = "none";

        } else {
          // Pause the video
          video.pause();
          playImage.style.display = "block";
        }
        });
 </script>

{% schema %}
{
  "name": "Video section",
  "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "product"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
           "type": "header",
           "content": "Video"
        },
        {
          "type": "text",
          "id": "mp4_url",
          "label": "mp4 url",
          "default": "https://cdn.shopify.com/s/files/1/0246/3701/4082/files/file_example_MP4_480_1_5MG.mp4?1334",
          "info": "URL from shopify files"
        },
        {
          "type": "image_picker",
          "id": "poster",
          "label": "Video poster image"
        },
        {
					"type": "checkbox",
					"id": "video_muted",
					"label": "Mute video",
					"default": true,
					"info": "You can't autoplay a video if she is not muted"
				},
				{
					"type": "checkbox",
					"id": "video_autoplay",
					"label": "Auto play video",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "video_loop",
					"label": "Loop video",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "video_controls",
					"label": "Show video controls",
					"default": false
				}
  ]
}
{% endschema %}
